<button (click)="connect()">Conectar</button>
<div class="flex flex-row w-full h-full">
  <div class="flex flex-col w-1/3 text-red">
    @for (item of rooms$ | async; track $index) {
      <div class="flex flex-col w-full border p-4 hover:bg-slate-200" (click)="onSelectRoom(item)">
        <div class="flex flex-row w-full">
          <b>Sala {{item.name}}</b>
        </div>
        <div class="flex flex-row w-full">
          {{item.numberOfParticipants}} participantes activos
        </div>
        <div class="flex flex-row w-full">
          <button (click)="connect()">
            Conectar
          </button>
        </div>
      </div>
    }
  </div>
  <div class="flex flex-col w-1/3 bg-red p-4">
    Chat
    <div class="flex flex-col h-full">
      @if (currentRoom) {
        @for (item of currentRoom.messageHistory; track $index) {
        <div class="flex flex-row w-full border" [ngClass]="getMessageClass(item)">
          {{ item.content }}
        </div>
        }
      }
    </div>
  </div>
  <div class="flex flex-col w-1/3">
    Notificaciones
    @for (item of notifications; track $index) {
      <div class="flex flex-row p-4 border rounded-full my-2 hover:bg-slate-100">
        <div class="flex flex-col w-full">
          <div class="flex flex-row w-full">
            {{$index + 1}}. {{item.message}}
          </div>
          <div class="flex flex-row justify-end w-full">
            {{item.date | date: 'dd/MM/yyyy'}}
          </div>

        </div>
      </div>
    }
  </div>

</div>